In [1]:
%pip install snowpark_extensions

In [2]:
%load_ext snowpark_extensions

In [3]:
from snowflake.snowpark import Session
import snowpark_extensions
# will try to setup credential from the snowsql CLI if present of from SNOW_xxx or SNOWSQL_xxx variables
# if not configuration can be retrieve you will receive an error
session = Session.builder.from_snowsql().from_env().getOrCreate()

In [4]:
%%sql
select asdfad

Failed to execute query [queryID: 01a9f02a-0405-90fd-0000-1c5502a00ac6]  SELECT count(1) AS "COUNT(LITERAL())" FROM (select asdfad) LIMIT 1
000904 (42000): SQL compilation error: error line 1 at position 51
invalid identifier 'ASDFAD'

In [5]:
%%sql tables
select 'a1' A, 'b1' B union
select 'a2'  , 'b2'

In [6]:
if tables.count() > 100:
    print("There are many tables here")

In [9]:
display(tables)

In [10]:
display(tables)

In [11]:
import snowpark_extensions
display(snowpark_extensions.rows_limit)

50

In [ ]:
snowpark_extensions.rows_limit = 5

In [ ]:
%%sql
select * from information_schema.tables

There are 1361 rows. Showing only 5